<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vueTime</title>
</head>

<body>


    <main id="vm">
      <input type="text" v-model="fullname()">
        <hr>
        
        <h2> Heble {{ nombre }} {{ apellido}}, Welcome </h2>
          
    <textarea type="text" v-model="nombre">
 </textarea>
    </main>



    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="enlaceDatos.js"></script>
</body>

</html>