body{
    background-color: rebeccapurple;
    color:dodgerblue;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.terminada{
    color:gray;
    text-decoration: line-through;
}
.terminada:hover{
    color:gray;
    text-decoration: line-through;
}